@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #222629;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    padding: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}
.material-icons:hover{
    color: lightseagreen;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 40px;
    padding: 10px;

    position: fixed;
    width: 100%;
    background-color: #222629;
    align-items: center;
    top: 0;
}

.header p {
    display: flex;
    transition: color 0.3s;
}

.header p:hover{
    color: lightseagreen;
}

.frame-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* position: absolute; */
}

h1 {
    text-align: center;
}

section {
    /* border-bottom: 1px cornflowerblue solid; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding-top: 40px;
}


section:nth-child(even) {
    background-color: #25282b;
  }

section h3 {
    align-self: center;
    padding: 20px;
    border-bottom: lightseagreen 1px solid;
}

.b {
    border: rgba(255, 255, 255, 0.139) 1px solid;
}

.bio {
    text-align: center;
}

.exp-container {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: lightseagreen;

    transition: background-color 0.8s;
    max-width: 800px;
}

/* .exp-container:hover {
    background-color: #d2fdff97;
    color: #222629;
} */

.exp-container p {
    text-align: center;
}

.exp-container h2 {
    padding: 10px;
    border-bottom: lightblue 1px solid;
    text-align: center;
}

.project {
    background-color: #cb2d6f;

}