@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    min-height: 100vh;
    background-color: #222629;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}